* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Courier New", monospace;
    color: #00ff99;
}

body {
    background-color: #0a0a0a;
    color: #00ff99;
    line-height: 1.6;
}

header {
    background-color: #111;
    padding: 15px 30px;
    position: sticky;
    top: 0;
    box-shadow: 0 0 10px #00ff99;
    z-index: 1000;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

nav a {
    color: #00ff99;
    text-decoration: none;
    font-weight: normal;
    transition: color 0.3s, font-weight 0.3s;
}

nav a:hover {
    color: #2600ff;
}

nav a.active {
    font-weight: bold;
    color: #560ae4;
}

.hero {
    text-align: center;
    padding: 120px 20px;
    background: linear-gradient(135deg, #0f0f0f 0%, #111111 100%);
    border-bottom: 2px solid #00ff99;
}

.hero h2 {
    font-size: 48px;
    text-shadow: 0 0 10px #00ff99;
}

.hero p {
    font-size: 24px;
    margin-top: 10px;
    color: #00cc66;
}

section {
    padding: 60px 20px;
    max-width: 1000px;
    margin: auto;
    text-align: center;
    border-bottom: 1px solid #00ff99;
}

h2 {
    font-size: 36px;
    margin-bottom: 20px;
    text-shadow: 0 0 5px #00ff99;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 20px;
    margin-top: 30px;
}

.project-card {
    background-color:grey;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #00ff99;
    opacity: 10;
    transform: translateY(20px);
    transition: all 0.6s ease;
}

.project-card.reveal-visible {
    opacity: 10;
    transform: translateY(0);
}

.project-card a {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 15px;
    background-color: white;
    color: black;
    text-decoration: none;
    border-radius: 5px;
}

.project-card a:hover {
    background-color: #5032f8;
    color: white;
}

/* CONTACT */
form {
    max-width: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input, textarea {
    padding: 12px;
    border: 1px solid #00ff99;
    border-radius: 5px;
    background-color: #111;
    color: #00ff99;
}

button[type="submit"] {
    padding: 12px;
    background-color: #00ff99;
    color: #0a0a0a;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #ff00ff;
    color: white;
}

.btn-cv {
    display: inline-block;
    margin-top: 30px;
    padding: 15px 30px;
    background-color: #00ff99;
    color: #0a0a0a;
    text-decoration: none;
    font-weight: bold;
    border-radius: 8px;
    font-size: 18px;
}

.btn-cv:hover {
    background-color: #3300ff;
    color: white;
}
